:root {
    /* Variables */
    --color: #925aff;
    --accent: #8148ee;

    --white: #f8f8f8;
    --white-2: #afabab;
    --black: #171923;
    --black-2: #13151D;
}

html, body {
    height: 100vh;
}

body {
    margin: 0;

    color: var(--white);
    background-color: var(--black);

    font-family: 'Rubik', sans-serif;
}

a { color: var(--color); }
p, span { font-weight: 300; }
hr { border: none; border-top: 1px solid var(--white-2); }
table { border-collapse: collapse; }
table thead { background-color: var(--black-2); }
table td { padding: 8px; border: 1px solid var(--white-2); }
pre, code { background-color: var(--black-2); }

/*
 * Classes
 * ===========================
 */
/* Displays */
.flex   { display: flex; }
.hidden { display: none; }

/* Positions */
.relative { position: absolute; }
.right-0 { right: 0; }

/* Flexbox */
.flex-1 { flex: 1; }

/* Margin */
.v-margin-15 { margin: 40px 15%; }

/*
 * Scroll
 * ===========================================================
 */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #00000011; }
::-webkit-scrollbar-thumb { background: var(--color); }
::-webkit-scrollbar-thumb:hover { background: var(--accent); }

/*
 * Sidebar
 * ===========================
 */
aside {
    position: relative;
    min-width: 30%;

    background: linear-gradient(180deg, var(--black-2) 0%, var(--black) 100%);
}

aside a {
    color: inherit;
    text-decoration: none;
}

aside ul {
    margin: 0;
    padding: 5px 20px;
    color: var(--white-2);
}

aside li {
    list-style: none;
    font-weight: 300;
    margin: 12px 0;
    transition: 0.5s;
    cursor: pointer;
}

aside li h2 {
    margin: 0 0 10px;
    transition: 0.5s;
    font-size: 16px;
}

aside li li:hover, aside li h2:hover {
    transform: translateX(10%);
}

/*
 * Main
 * ===========================
 */
main {
    padding: 0 100px;
    overflow: hidden scroll;
}

main section {
    margin: 85px 0;
}

main section h3 {
    margin: 40px 0 20px;
}

/*
 * Repositories
 * ===========================
 */
.repository {
    margin: 10px 0;
    padding: 20px;

    background-color: var(--black-2);
    cursor: pointer;
}

.repository .name {
    font-weight: 500;
    margin: 0 0 8px;
}


